<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobrew</title>
</head>
<body>
    <h1>
        Pagina sobre o projeto
    </h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sapiente nobis, aliquam minima sit libero, magni necessitatibus quo a fugiat quasi. Libero repellat natus aperiam soluta illo in perferendis. Quaerat?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita earum quidem animi labore perferendis et adipisci nam voluptate natus. Harum fugiat repudiandae tenetur cupiditate exercitationem laudantium doloremque! Molestias, aliquid?
    </p>
</body>
</html>