<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vamos ver se funciona!!!</title>
</head>
<body>
    <h1>Lista de Nomes</h1>

<ul>
  {{#each testes}}
    <li>{{this.Nome}}</li>
  {{/each}}
</ul>
</body>
</html>